html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: inherit;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;

  &::before,
  &::after {
    box-sizing: inherit;
  }
}

ol,
ul {
  list-style: none;
}

base,
basefont,
datalist,
head,
meta,
script,
style,
title,
noembed,
param,
template {
  display: none;
}

svg {
  display: flex;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
