<div class="uk-text-center" uk-grid>
  <div class="uk-width-1-2">
    <div class="uk-card uk-card-body">
      <img src="data:image/png;charset=utf-8;base64,<%= @qrcode %>" />
      <span class="uk-margin-small-top"><%= @document.code %></span>
    </div>
  </div>
</div>