<h1>Edit Occupation</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.occupation_path(@conn, :update, @occupation)) %>

<span><%= link "Back", to: Routes.occupation_path(@conn, :index) %></span>
