<h1>Show Service</h1>

<ul>

  <li>
    <strong>Status:</strong>
    <%= @service.status %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.service_path(@conn, :edit, @service) %></span>
<span><%= link "Back", to: Routes.service_path(@conn, :index) %></span>
