<h1>Edit Collaborator</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.collaborator_path(@conn, :update, @collaborator)) %>

<span><%= link "Back", to: Routes.collaborator_path(@conn, :index) %></span>
