<h1>New Indexer data</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.indexer_data_path(@conn, :create)) %>

<span><%= link "Back", to: Routes.indexer_data_path(@conn, :index) %></span>
